.app{
    display:flex;
    flex-direction: column;
    /* background:rgb(1, 15, 37); */
    background: radial-gradient(circle at 75% 36%,  rgb(11, 156, 134)-200%, #010022 60%);

}

::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #35353696;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }



  

  

  