.app{
    display:flex;
    flex-direction: column;
    /* background: rgba(38, 150, 200, 0.04); */
  /* background: radial-gradient(circle at 73% 40%, #605f8f -200%, #010028 100%); */
  /* background-color: rgb(3 22 38); */
  /* background: radial-gradient(circle at 73% 40%,  #010021 -200%, #748ca3 100%); */
  background: radial-gradient(circle at 73% 40%, #605f8f -400%, #010028 50%);

}

/* Hide the default scrollbar for Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Customize the track of the scrollbar */
  ::-webkit-scrollbar-track {
    background: #35353696;
  }
  
  /* Customize the thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  
  /* Customize the buttons (arrows) at the top and bottom of the scrollbar */
  ::-webkit-scrollbar-button {
    display: none;
  }



  

  

  