.nav-bar{
    background:none;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 3;
    background: rgba(38, 150, 200, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(38, 150, 200, 0.05);
  }
  .logo
      {display: block;
      padding: 15px 0px;
      position: static;
      margin-left: 100px;}
  
    a:hover{
      color: #ffd700;
    }
  
        a
        {font-size: 30px;
        color: #fafafb;
        display: block;
        line-height: 10px;
        height: 10px;
        width: 5px;
        position: relative;
        text-decoration: none;
        padding: 0px 30px;
        margin: 20px 60px 50px 40px;
    
        
        }
  
      nav
      {display: flex;
      text-align: center;
      position: absolute;
      height: 10px;
      top: 80%;
      margin-top: -60px;
      width: 2%;
      padding: 10px 700px;
    }
  
  
  
    
    @media (max-width: 768px) {
      .nav-bar {
        height: auto;
        padding: 15px 0;
      }
    
      .logo {
        text-align: center;
        margin: 0;
      }
    
      a {
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
        margin: 10px 0;
      }
    
      nav {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }