@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.navbar {
  color: #fff;
  width:100%;
  position: fixed;
  z-index: 100;
  background:rgb(1, 15, 37);
}

.navbar-container {
  position: relative;
  width:98%;
  height:4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom:1px solid rgb(56, 57, 69);
  /* background: #020120;  */
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(2.9px); */
  /* -webkit-backdrop-filter: blur(2.9px); */
  /* border: 1px solid rgba(38, 150, 200, 0.05); */ 
}

.navbar-left {
  display: flex;
  align-items: center;
  font-family: 'Bowlby One SC', sans-serif;
  padding-left: 1rem;
}
.navbar-left a{
  text-decoration: none;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.navbar-left span:hover{
  color:red;
}
.navbar-left span:nth-child(5)
{
  color: red;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-family: Sofia Pro Soft Light,sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.navbar-right a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.navbar-right a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px; /* Height of the underline */
  background-color: 	#ffeaf4; /* Color of the underline */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Add a smooth transition */
}

.navbar-right a:hover::before {
  width: 100%;
  left: 0;
}

.navbar-right a:hover {
  text-decoration: none;
  color: #ff0544; /* Text color on hover */
}

@media (max-width: 551px) {
  .navbar-container {
    justify-content: center;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .navbar-right a {
    margin-right: 10px; /* Adjust this margin as needed */
  }
}

