.navbar {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 0;
  width:100%;
}

.navbar-container {
  position: relative;
  width:98%;
  height:2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 0 18px; */
  background: rgba(38, 150, 200, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(38, 150, 200, 0.05);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  /* width: 50px; */
  /* height: 50px; */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-right a:hover {
  text-decoration: underline;
}
